::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: rgb(0 0 0 / 10%);
	border-radius: 12px;
}

::-webkit-scrollbar-thumb {
	background: rgb(0 0 0 / 20%);
	border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(0 0 0 / 40%);
}

::-webkit-scrollbar-thumb:active {
	background: rgb(0 0 0 / 90%);
}
