.layout-topbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 997;
	display: flex;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding: 0 2rem;
	background-color: var(--surface-card);
	box-shadow:
		0 3px 5px rgb(0 0 0 / 2%),
		0 0 2px rgb(0 0 0 / 5%),
		0 1px 4px rgb(0 0 0 / 8%);
	transition: left $transitionDuration;

	.layout-topbar-logo {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.5rem;
		color: var(--surface-900);
		border-radius: 12px;

		img {
			height: 2.5rem;
			margin-right: 0.5rem;
		}

		&:focus {
			@include focused();
		}
	}

	.layout-topbar-button {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 3rem;
		color: var(--text-color-secondary);
		border-radius: 50%;
		cursor: pointer;
		transition: background-color $transitionDuration;

		&:hover {
			color: var(--text-color);
			background-color: var(--surface-hover);
		}

		&:focus {
			@include focused();
		}

		i {
			font-size: 1.5rem;
		}

		span {
			display: none;
			font-size: 1rem;
		}
	}

	.layout-menu-button {
		margin-left: 2rem;
	}

	.layout-topbar-menu-button {
		display: none;

		i {
			font-size: 1.25rem;
		}
	}

	.layout-topbar-menu {
		display: flex;
		margin: 0 0 0 auto;
		padding: 0;
		list-style: none;

		.layout-topbar-button {
			margin-left: 1rem;
		}
	}
}

@media (width <= 991px) {
	.layout-topbar {
		justify-content: space-between;

		.layout-topbar-logo {
			order: 2;
			width: auto;
		}

		.layout-menu-button {
			order: 1;
			margin-left: 0;
		}

		.layout-topbar-menu-button {
			display: inline-flex;
			order: 3;
			margin-left: 0;
		}

		.layout-topbar-menu {
			position: absolute;
			top: 5rem;
			right: 2rem;
			display: none;
			flex-direction: column;
			min-width: 15rem;
			margin-left: 0;
			padding: 1rem;
			background-color: var(--surface-overlay);
			border-radius: 12px;
			box-shadow:
				0 3px 5px rgb(0 0 0 / 2%),
				0 0 2px rgb(0 0 0 / 5%),
				0 1px 4px rgb(0 0 0 / 8%);
			animation: scalein 0.15s linear;
			animation: scalein 0.15s linear;

			&.layout-topbar-menu-mobile-active {
				display: block;
			}

			.layout-topbar-button {
				display: flex;
				justify-content: flex-start;
				width: 100%;
				height: auto;
				margin-left: 0;
				padding: 1rem;
				border-radius: 12px;

				i {
					margin-right: 0.5rem;
					font-size: 1rem;
				}

				span {
					display: block;
					font-weight: medium;
				}
			}
		}
	}
}
