a {
	color: var(--primary-color);
	outline: none !important;
	box-shadow: none !important;
}

.layout-main {
	a {
		color: var(--primary-color);
		text-decoration: none;
	}

	a:hover {
		padding-bottom: 2px;
		border-bottom: 1px solid var(--primary-color);
	}
}

button {
	outline: none !important;
	box-shadow: none !important;
}

.p-radiobutton {
	margin-right: 5px;
}

.field-radiobutton {
	margin-top: 10px;
}
